body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
}

.header, .content, .converter {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

select, input {
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 22px); /* Ajuste para padding y borde */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
}

input[type="text"], input[type="number"] {
    width: calc(100% - 22px); /* Ajuste para padding y borde */
}

.result {
    margin-top: 20px;
}

.dark-mode {
    background-color: #333;
    color: #f0f0f0;
}

.dark-mode .container {
    background-color: #444;
}

.dark-mode .header, .dark-mode .content, .dark-mode .converter {
    background-color: #555;
}

.toggle-button {
    background: none;
    border: none;
    cursor: pointer;
}

.toggle-button img {
    width: 30px;
    height: 30px;
}
